<!DOCTYPE html>

<html lang="en">

<head>
    <title>@ViewBag.Title - BeatFeed</title>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to BeatFeed">
    <meta name="keywords" content="music, playlists, BeatFeed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />


</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <span class="site-logo">
            <a asp-controller="Home" asp-action="Home">
                <img src="~/img/logo.png" alt="">
            </a>
        </span>
        <div class="header-right">
            <a href="#" class="hr-btn">Help</a>
            <span>|</span>
            <div class="user-panel">
                <a asp-action="Index" class="login">Home</a>
                <a asp-action="About" class="register">About</a>
            </div>
        </div>
    </header>
   
        <!-- Header section end -->
        <!-- Intro section -->
        @RenderBody()
     <div id="fixedContainer">
        <canvas id="c"></canvas>
    </div>
        <!-- Intro section end -->
        <!-- Footer how to -->
    
    <footer class="how-section spad3 set-bg" data-setbg=@Url.Content("~/img/how-to-bg.jpg")>
        <div class="container text-white">
            <div class="section-title moveMeUp">
                <h2>How it works</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="~/img/icons/create.png" alt="">
                        </div>
                        <h5>Create an account</h5>
                        <p>
                            Create your account quickly to unlock unlimited access to the music you desire.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="how-item">
                        <div class="hi-icon my-icon2">
                            <img src="~/img/icons/choose.png" alt="">
                        </div>
                        <h5>Choose Your music</h5>
                        <p>
                            Songs, artists, music clips, and more... we have it all. Choose your music and build playlists
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="~/img/icons/listen.png" alt="">
                        </div>
                        <h5>Listen to your Playlist</h5>
                        <p>
                            Wherever you are, whenever you feel like, enjoy BeatFeed
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="how-item">
                        <div class="hi-icon my-icon">
                            <img src="~/img/icons/concert.png" alt="">
                        </div>
                        <h5>Upcoming concert</h5>
                        <p>
                            See when and where your favorite artists perform!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- Footer how to end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Canvas.js"></script>


</body>
</html>
