@model BeatFeed.Models.Artist

@{
    ViewData["Title"] = "Upcoming concerts";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<section class="contact-section myOverflowFix">
    <div class="container-fluid myOverflowFix">
        <div class="row myOverflowFix">
            <div class="col-lg-6 p-0 myOverflowFix">
                <!-- Map -->
                <div id="MapDiv">
                </div>
            </div>
            <div class="col-lg-6 p-0 myOverflowFix lightBG">
                <div class="contact-container">
                    <div class="section-title mb-0" style="text-align: center">
                        <h3>@Html.DisplayFor(model => model.Name)'s Performances:</h3>
                        <p class="titleColor">View previous and upcoming concerts information.</p>
                    </div>
                </div>
                <div class="contact-container">
                    <div class="col-6 upcoming">
                        <h4>Upcoming Concerts:</h4>
                        </br>
                        <ul id="concertDetails"></ul>
                    </div>
                    <div class="col-6 occured">
                        <h4>Previous Concerts:</h4>
                        </br>
                        <ul id="concert-prev"></ul>
                    </div>
                </div>
                <!-- weather -->
                <div class="weather-container">
                    <div class="weather__container">
                        <div class="weather-side">
                            <div class="search-form search-song-filter">
                                <input id="CityName" type="text" placeholder="Enter a city name">
                                <button id="WeatherLookup">Check Weather</button>
                            </div>
                            <span class="alert-danger"></span>
                        </div>
                    </div>
                    <div>
                        <span id="lblError" style="color:red"></span>
                    </div>
                    <div class="the-forecast" style="display:none">
                        <h4>Weather Forecast</h4>
                        <div class="weatherTable">
                            <table>
                                <tr class="centerTest">
                                    <td>
                                        <img id="imgWeatherIconUrl" alt="" src="" title="Weather Icon" />
                                    </td>
                                </tr>
                                <tr class="centerTest">
                                    <td>
                                        <strong>Temperature:</strong>
                                        <label id="lblTemp"></label> °C
                                        <br />
                                        <strong>Description:</strong>
                                        <label id="lblDescription"></label>
                                        <br />
                                        <strong>Humidity:</strong>
                                        <label id="lblHumidity"></label>%
                                        <br />
                                        <br />

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           

            

        </div>
    </div>
</section>

<input type="hidden" id="ArtistId" value="@Html.DisplayFor(model => model.Id)" />

@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgjU0arQBTCn5xhBVHHjmEbdIP9cYtujM&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="~/js/Concerts.js"></script>
    <script src="~/js/weather.js"></script>
}