@{
    ViewData["Title"] = "Statistics screen";
    Layout = "~/Views/Shared/_LoggedInAdminLayout.cshtml";
}

<section class="playlist-section myOverflowFix">
    </br></br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 statistics-title">
                <h2>BeatFeed Statistics</h2>
            </div>
        </div>
    </div>
    </br></br></br></br>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="clearfix"></div>
        <div class="row statisticsGraphs">
            <div class="col-lg-6 graph1-title">
                <h3>
                    Artists on BeatFeed By Genre
                </h3>
            </div>
            <div class="col-lg-6 graph2-title">
                <h3>
                    Number of concerts for each city
                </h3>
            </div>
            <div class="row">
                <div class="col-lg-6 graph1">
                    <div id="graph1"></div>
                </div>
                <div class="col-lg-6 graph2">
                    <div id="graph2"></div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts
{

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="/js/Statistics.js"></script>

}