@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="section-title index-title">
            <h2>BeatFeed - Your music hub</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="clearfix"></div>
        <div class="index-text small-bg">
            <p>
                Join BeatFeed, An app with more than 100,000 songs and artists.</br>
                Support the music community and disocver new artists and songs of your taste everyday.
            </p>
        </div>
    </div>
    <div class="row index-buttons justify-content-center">
        <div class="col-lg-6 index-login">
            <a asp-controller="Users" asp-action="Login" class="site-btn site-login">Login</a>
        </div>
        <div class="col-lg-6 index-signup">
            <a asp-controller="Users" asp-action="SignUp" class="site-btn">Sign Up</a>
        </div>
    </div>
</div>
