@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Beatfeed - your music hub</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    Join BeatFeed- with more than 100,000 songs and artists.
                    Disocver new artists and songs everyday, and watch your favorite music clips.
                </p>
                <a asp-controller="Users" asp-action="Login" class="site-btn site-login">Login</a>
                <span class=.hs-item>
                    <a asp-controller="Users" asp-action="SignUp" class="site-btn">Sign Up</a>
                </span>
            </div>
        </div>
    </div>
</section>
