@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="container spad6">
    <div class="row">
        <div class="section-title index-title" id="unauth-title">
            <h2>Unauthorized</h2>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="small-bg" id="unauth-p-container">
            <p>
                You must have a BeatFeed account to access this page.</br>
                If you have an existing account, please sign in.</br>
                Otherwise, you are welcome to join us by creating a new account.
            </p>
        </div>
    </div>
    <div class="row index-buttons justify-content-center">
        <div class="col-lg-6 index-login">
            <a asp-controller="Users" asp-action="Login" class="site-btn site-login">I have an account</a>
        </div>
        <div class="col-lg-6 index-signup">
            <a asp-controller="Users" asp-action="SignUp" class="site-btn">Create new account</a>
        </div>
    </div>
</div>

