
@model BeatFeed.Models.Playlist

@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<!-- Playlist section -->
<section class="playlist-section spad2">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 instructions">
                <h3>Instructions:</h3>
                <h4>1. Create a new playlist.</h4>
                <h4>2. Search for songs and add them to the list.</h4>
                <h4>3. Select that playlist.</h4>
                <h4>4. Play the songs and enjoy!</h4>
                </br>
                <h4>You can also create a suggested playlist based by your playlist songs!</h4>
            </div>
            <div class="col-lg-8">
                <div class="user-home-title">
                    <h2> Welcome @User.Identity.Name</h2>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="section-title playlists-title">
                    <h2>Your playlists:</h2>
                </div>
            </div>
            <div class="col-lg-4 attempt-container">

                <h5>Playlist filter:</h5>
                <input id="PlaylistFilter" onkeyup="FilterPlaylists()" type="text" placeholder="Enter a Playlist Name">

            </div>
        </div>

        <div id="AllPlaylists" class="row playlist-area">
        </div>
        <div class="row">
            <!-- Create playlist button -->
            <div class="col-lg-6">
                <div class="search-form create-playlist">
                    <input id="PlaylistName" type="text" placeholder="Enter a new playlist name">
                    <button id="CreatePlaylist">Create Playlist</button>
                </div>
                <span class="alert-danger"></span>
            </div>
            <!-- End Ceate playlist button -->
            <div class="col-lg-6">
                <div class="search-form create-suggested-list">
                    <button id="CreateSuggestedPlaylist" value="suggested">Create a Suggested Playlist</button>
                </div>
            </div>
        </div>

        <!-- Suggested playlist button -->


    </div>
</section>

@section Scripts
{
    <script src="~/js/Playlist.js"></script>
}
