
@model BeatFeed.Models.Playlist

@{
    ViewData["Title"] = "UserHome";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<!-- Playlist section -->
<section class="playlist-section spad2">
    <div class="container-fluid">

        <div class="row">
                <div class="user-home-title">
                    <h2><font face="Tahoma">Welcome @User.Identity.Name</font></h2>
                </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="section-title playlists-title">
                    <h2>Your playlists:</h2>
                </div>
            </div>
            <div class="col-lg-4 attempt-container">

                <h5>Playlist filter:</h5>
                <input id="PlaylistFilter" onkeyup="FilterPlaylists()" type="text" placeholder="Enter a Playlist Name">

            </div>
        </div>

        <div id="AllPlaylists" class="row playlist-area">
        </div>
        <div class="row">
            <!-- Create playlist button -->
            <div class="col-lg-6">
                <div class="search-form create-playlist">
                    <input id="PlaylistName" type="text" placeholder="Enter a new playlist name">
                    <button id="CreatePlaylist">Create Playlist</button>
                </div>
                <span class="alert-danger"></span>
            </div>
            <!-- End Ceate playlist button -->
            <div class="col-lg-6">
                <div class="search-form create-suggested-list">
                    <button id="CreateSuggestedPlaylist" value="Suggested">Create a Suggested Playlist</button>
                </div>
            </div>
        </div>

        <!-- Suggested playlist button -->


    </div>
</section>
<div id="fixedContainer">
    <canvas id="c"></canvas>
</div>
@section Scripts
{
    <script src="~/js/Playlist.js"></script>
    <script src="~/js/Canvas.js"></script>
}
